*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(
        115deg,
        hsl(219deg 95% 8%) 0%,
        hsl(215deg 81% 10%) 14%,
        hsl(215deg 74% 12%) 34%,
        hsl(215deg 66% 15%) 52%,
        hsl(215deg 61% 17%) 65%,
        hsl(215deg 57% 20%) 75%,
        hsl(215deg 54% 22%) 84%,
        hsl(214deg 52% 25%) 90%,
        hsl(214deg 51% 28%) 96%,
        hsl(214deg 49% 30%) 100%
      );
}

.container{
    width: 100%;
    height: 100vh;
    border-radius: 4px;
    display: flex;
    gap: 1em;
}

.listTopic{
    width: 70%;
    height: 100%;
    background: #274873;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
}

.content:hover{
    filter: drop-shadow(10px 10px 4px #0B2C4D);
}

.content{
    width: 80%;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.528);
    display: flex;
    padding: 5px;
    border-radius: 20px;
}

.info_user{
    width:400px;
    height: auto;
    display: flex;
    align-items: start;
    padding: 1em;
}

.info_user h1{
    color: white;
    font-family: 'Mada', sans-serif;
    font-weight:100;
}

.image{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 2px black;
}

.content_texte{
    width: 70%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black ;
}

.text {
    color: #f2e2ce ;
    font-family: 'Mada', sans-serif;
    font-weight:300;
    font-size: 20px;
}

.creation{
    width: 20%;
    height:50%;
    background: #274873;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.creation h2{
    margin-bottom: 30px;
    color: #f2e2ce;
    font-family: 'Mada', sans-serif;
    font-weight:500;
}

.creation #titre{
    height: 30px;
    border-radius: 4px;
}

.creation label{
    color: #f2e2ce;
    font-family: 'Mada', sans-serif;
    font-weight:500;
}

.creation textarea{
    height: 100px;
    width: 100%;
    border-radius: 5px;
    resize: none;
}

.creation input{
    cursor: pointer;
}