body{
    padding: 10px 10px 10px 10px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #010E26;
}
.container{
    width: 40%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
  115deg,
  hsl(219deg 95% 8%) 0%,
  hsl(216deg 82% 10%) 0%,
  hsl(215deg 77% 11%) 0%,
  hsl(215deg 70% 13%) 1%,
  hsl(215deg 65% 15%) 4%,
  hsl(215deg 61% 17%) 10%,
  hsl(215deg 58% 19%) 24%,
  hsl(215deg 55% 22%) 65%,
  hsl(215deg 53% 24%) 82%,
  hsl(214deg 52% 26%) 90%,
  hsl(214deg 50% 28%) 96%,
  hsl(214deg 49% 30%) 100%
);
    border-radius: 10px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    
}

.intro h1 {
    font-family: 'Mada', sans-serif;
    font-weight: lighter;
    font-size: 70px;
    margin: 0;
    color: #F2E2CE;
}

.intro p {
    margin: 0;
    font-family: 'Mada', sans-serif;
    font-weight: lighter;
    color: #F2E2CE;
}                                         

.email{
    justify-self: flex-start;
    width: 50%;
    gap: 5px;
}

.email p{
    font-family:"Inter", sans-serif;
    color: #F2E2CE
}

#connec{
    width: 200px;
    margin-bottom: 80px;
    margin-top: 49px;
}

.nosign{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nosign p {
    font-family: 'Mada', sans-serif;
    font-weight:500;
    color:#F2E2CE;
}

.oubli{
    width: 310px;
    text-align: end;
    align-self: center; 
}

#fondblanc{
    background: #010E26;
    position: absolute;
    width: 20%;
    height: 30%;
    right: 0px;
    bottom: 0px;
    z-index: 1000000000;
}