body {
  margin: 0;
  background-image: linear-gradient(
    115deg,
    hsl(219deg 95% 8%) 0%,
    hsl(215deg 81% 10%) 14%,
    hsl(215deg 74% 12%) 34%,
    hsl(215deg 66% 15%) 52%,
    hsl(215deg 61% 17%) 65%,
    hsl(215deg 57% 20%) 75%,
    hsl(215deg 54% 22%) 84%,
    hsl(214deg 52% 25%) 90%,
    hsl(214deg 51% 28%) 96%,
    hsl(214deg 49% 30%) 100%
  );
}